<style>
    .footer-fp, .footer-sp {
        position: relative;
        padding: 15px;
        color: white;
        font-size: 13px;
    }
    
    .footer-fp {
        background: black;
    }
    
    .footer-sp {
        background: #2d2d2d;
        display: flex;
    }
    
    .footer-part {
        text-align: left;
        margin-bottom: 0px;
    }
    
    .footer-item, .footer-item a {
        color: white;
        font-size: 13px;
    }
    
    .footer-item a:hover {
        color: orange;
    }
    
    .smIcons a{
        font-size: 18px;
        margin: 2px;
        padding: 2px;
    }
    .smIcons a:hover{
        color: orange;
        transition: 0.5s ease-in-out;
    }
    .footerForm {
        width: 100%;
        padding: 2px;
        background: #132a3c;
        border: 1px solid #878e94;
        margin-bottom: 15px;
        color: #727272 !important;
        font-size: 13px;
    }
</style>
<footer>
    <hr>
    <div class="footer-fp">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="row">
              <div class="col-md-3 col-xs-12 footer-part">
                <h4 class="title">CéCe</h4>
                <div class="footer-item">
                  <a href="#" title="Hakkımızda">Hakkımızda</a>
                </div>
                <div class="footer-item">
                  <a href="#" title="Kariyer">Kariyer</a>
                </div>
                <div class="footer-item">
                  <a href="#" title="İletişim">İletişim</a>
                </div>
                <div class="footer-item">
                  <a href="#" title="Basında Biz">Basında Biz</a>
                </div>
              </div>
              <div class="col-md-3 col-xs-12 footer-part">
                <h4 class="title">Yardım Merkezi</h4>
                <div class="footer-item">
                  <a href="#" title="Üyelik İşlemleri">Üyelik İşlemleri</a>
                </div>
                <div class="footer-item">
                  <a href="#" title="Sipariş İşlemleri">Sipariş İşlemleri</a>
                </div>
                <div class="footer-item">
                  <a href="#" title="İade İşlemleri">İade İşlemleri</a>
                </div>
                <div class="footer-item">
                  <a href="#" title="Hesap İşlemleri">Hesap İşlemleri</a>
                </div>
                <div class="footer-item">
                  <a href="#" title="Sıkça Sorulan Sorular">Sıkça Sorulan Sorular</a>
                </div>
              </div>
  
  
              <div class="col-md-3 col-xs-12 footer-part">
                <h4 class="title">Sosyal Medya</h4>
                <div class="smIcons">
                  <a href="#"><i class="fa-brands fa-facebook"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <h4 class="title">Mobil Uygulamalar</h4>
                <div class="smIcons">
                  <a href="#"><i class="fa-brands fa-app-store-ios"></i></a>
                  <a href="#"><i class="fa-brands fa-google-play"></i></a>
                </div>
              </div>
  
              <div class="col-xs-12 col-md-3 footer-part">
                <div class="col-xs-6 col-md-6">
                  <select class="footerForm">
                    <option value="Türkçe">Türkçe</option>
                    <option value="İngilizce">İngilizce</option>
                  </select>
                </div>
                <div class="col-xs-6 col-md-6">
                    <select class="footerForm">
                        <option value="₺ TRY">₺ TRY</option>
                        <option value="$ USD">$ USD</option>
                        <option value="£ EUR">£ EUR</option>
                    </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="footer-sp">
    <div class="container">
        <div class="row">
            <div class="footer-part">
                <div class="col-md-6 col-xs-12 footer-item"></div>
                <div class="col-md-3 col-xs-12 footer-item"><a href="/termsAndConditions">Kullanım Koşulları</a></div>
                <div class="col-md-3 col-xs-12 footer-item"><a href="/kvkk">KVKK ve Gizlilik Politikası</a></div>
            </div>
        </div>
    </div>
    </div>
  </footer>